<section id="hero-id-{{ bg_img_id }}" class="{{ bg_color }} color-white hero hero-image hero-callout d-flex align-items-center row">
  <div class="col-12">
    <div class="content-wrapper">

      <div class="hero-content d-flex align-items-start justify-content-center flex-column my-5">

        <div class="hero-callout--container hero-callout--container-desktop">

          <h2 class="hero__title">{{ title }}</h2>
          {% if text %}
            <p class="hero-callout--text">{{ text }}</p>
          {% endif %}
          {% if callout_link %}
            <div class="hero-callout--link link-list--item">
              {{ callout_link }}
            </div>
          {% endif %}

        </div>

      </div>
    </div>
  </div>
</section>

{# If callout is stacked...callout is rendered again for mobile, hidden on desktop #}
<section class="hero-callout hero-callout--mobile">
  <div class="content-wrapper">

    <div class="hero-callout--container hero-callout--container-mobile">

      <h2 class="hero__title">{{ title }}</h2>
      {% if text %}
        <p class="hero-callout--text">{{ text }}</p>
      {% endif %}
      {% if callout_link %}
        <div class="hero-callout--link link-list--item">
          {{ callout_link }}
        </div>
      {% endif %}

    </div>
  </div>
</section>
